<app-header></app-header>
<div>
  <div class="container d-flex  float-left" style="height: auto;">
    <div>
        <img
          src="{{user.profilePic}}"
          class="img-fluid max-width: 100%; height: auto;"/>
    </div>
    <div class="jumbotron" style="width: 50%;height: auto">
      <h1>
        <span class=" text-success align-items-center">{{user.firstname}} {{user.lastname}}</span>
      </h1>
      <hr class="my-4" />
      <h4 class="display-7">DESC</h4>
      <p>
        {{user.description}}
      </p>
    </div>
  </div>
</div>