<div>
  <div class="container d-flex  float-left" style="height: auto;">
    <div>
      ​<picture>
        <source
          srcset="https://pics.me.me/stares-motherfuckerly-8628143.png"
          type="image/svg+xml"
        />
        <img
          src="https://pics.me.me/stares-motherfuckerly-8628143.png"
          class="img-fluid max-width: 100%; height: auto;"
          alt="Responsive image"
        />
      </picture>
    </div>
    <div class="jumbotron" style="width: 50%;height: auto">
      <h1>
        <span class=" text-success align-items-center">Mother Fuckerly</span>
      </h1>
      <hr class="my-4" />
      <h4 class="display-7">DESC</h4>
      <p>
        I don't remember askin' you a Goddamn thing! Say 'what' again. Say
        'what' again, I dare you, I double dare you motherfucker, say what one
        more Goddamn time! Normally, both your asses would be dead as fucking
        fried chicken, but you happen to pull this shit while I'm in a
        transitional period so I don't wanna kill you, I wanna help you. But I
        can't give you this case, it don't belong to me. Besides, I've already
        been through too much shit this morning over this case to hand it over
        to your dumb ass.
      </p>
    </div>
  </div>
</div>
