<app-header></app-header>
<div>
  <div class="container d-flex  float-left" style="height: auto;">
    <div>
        <img
          src="{{user.profilePic}}"
          class="img-fluid max-width: 100%; height: auto;"/>
    </div>
    <div class="jumbotron" style="width: 50%;height: auto">
      <h1>
        <span class=" text-success align-items-center">{{user.firstname}} {{user.lastname}}</span>
      </h1>
      <hr class="my-4" />
      <h4 class="display-7">DESC</h4>
      <p>
        {{user.description}}
      </p>
    </div>
  </div>
</div>
<div>
<h1>Feed</h1>
<ul class="feed"  *ngFor="let post of user.postList">
  <div>
    <div class="container d-flex  float-right" style="height: auto;">
      <div *ngIf="post.url">
        <img
          src="{{post.url}}"
          class="img-fluid height: auto;"
          alt="Bullshit"
        />
      </div>
      <div class="jumbotron" style="width: 50%;height: auto">
        <h5>
          <span class="text-success align-items-center">{{post.postId}} Likes:{{post.numberOfLikes}}</span>
          <button class = "button" (click)="like(post)">Like</button>
        </h5>
        <hr class="my-4" />
        <p>
          {{ post.body }}
        </p>
      </div>
    </div>
  </div>
</ul>
</div>
