<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Proj2</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="body">
    <div class="titleName">
        <h1><b><font size="7">theSocialNetwork</font></b></h1>
 <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
          <div class="header">
            Email or phone
            <br>
            <input type="text" #titleEmail id="username" size="23" name="loginEmail" ngModel>
          </div>
          <div class="header1">
            Password
            <br>
            <input type="password" #titlePass id="password" size="23" name="loginPassword" ngModel>
          </div>
          <div class="header2">
            <button class="loginButton" type="submit" id="myText">Log In</button>
          </div>
        </form>
    </div>
  <div class="container">
    <div class="div1">
      <p>
        <font size="7"><b>Sign up</b></font>
        <br>
        <font size="4">It's free and always will be</font>
      </p>

      <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
        <div class="form-row">
          <div class="col">
            <label for="exampleInputFirstName">Firstname</label>
            <input type="text" #First class="form-control" placeholder="First name" name="firstName" ngModel>
          </div>
          <div class="col">
              <label for="exampleInputLastName">Lastname</label>
            <input type="text" #Last class="form-control" placeholder="Last name" name="lastName" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" #Email class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" ngModel>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" #Password class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
      </form>

    </div>

  </div>
</div>




<script type="text/javascript" src="../js/Index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
