.body{
    background-color: #EDF0F5;
    height: 859px;
  }
    .titleName {
    height: 104px;
    background-color:	#3B5999;
    color: white;
    padding: 20px;
  }
  .header{
    float: right;
    position: relative; right:480px; top: -68px;
  }
  .header1{
    float: right;
    position: relative; right:41px; top: -68px;
  }
  .header2{
    float: right;
    position: relative; top: -45px; right: -240px;
  }
  .loginButton {
    background-color: #4067B6;
    border-color: rgb(57, 57, 58);
    border-width: thin;
    color: white;
  }
  
  .div1{
    padding: 10px;
    border-radius: 5px;
    /*border: solid black 1px;*/
    background: darkgrey;
    float: right;
    margin-right: -300px;
    /*margin-top: 80px;*/
    margin-top: 100px;
    height: 500px;
    width: 600px;
  
  }
  .div2{
    border: solid black 1px;
    float: right;
    height: 545px;
    width: 500px;
  }
  .input{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .input1{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .input2{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .submitButton{
    background-color:	#5F994D;
    border-color: rgb(57, 57, 58);
    border-width: thin;
    color: white;
  }
  #submitButton{
    background-color:	#5F994D;
    border-color: rgb(57, 57, 58);
    border-width: thin;
    color: white;
  }
  a{
    float: right;
    margin-right: 50px;
  }